{% extends 'base.html' %}
{% block title  %} EVENTS {% endblock title  %}
{% block body %}


<!-- FEATURES -->

<div style="margin-left:28%;">
        <img class="img-fluid" src="static/images/tag01.png">
        </div>
<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
            
                <h2 class="mb-4 ml-3">WORKSHOPS </h2>
<img class="images" height="260px" width="380px"
                        src="static/images/workshop.png"alt="">
                <div class="timeline">
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span></span>
                        </div>
                        <div class="timeline-info">
                            <h3><span> Python Workshop </span><small>April 10th-11th 2019</small></h3>
                            <p>It is a py workshop after all</p>
                        </div>
                    </div>

                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span></span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Git and GitHub Workshop</span><small>Aug 28th 2019</small></h3>
                            <p>Learn git cool !</p>
                        </div>
                    </div>

                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span></span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>GCP Crash Course</span></h3><small>Oct 1st-31th 2019</small></h3>
                            <p>Google cloud course</p>
                        </div>
                    </div>

                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span></span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>ExploreML Beginner Track Innovision<small>Oct 26th 2019</small></h3>
                            <p>This program is also a Google initiative for those who wish to learn Machine Learning from a practical, applied perspective that will enable them to use Machine Learning in their projects and get started with the basics of TensorFlow. This is a beginner track so those who are new to programming and Machine Learning can also attend this. This is facilitated by DSC-NITR and the instructor for this program is Shaswat Lenka.</p>
                        </div>
                    </div>
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span></span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>ExploreML Intermediate Track NITR<small>November 9th-10th 2019</small></h3>
                            <p>This program is also a Google initiative for those who wish to learn Machine Learning from a practical.This is a Intermediate track so those who are new to programming and Machine Learning can also attend this. This is facilitated by DSC-NITR and the instructor for this program is Abel Mathew.</p>
                        </div>
                    </div>
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span></span>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12  text-center">
                <h2 class="mb-4 mobile-mt-2 text-center">EVENTS</h2>
                <div class="member">
                    <img class="images" height="260px"
                        src="static/images/Hacktober.jpeg"alt="">
                    <h3> Hacktoberfest </h3>
                    <span>October 1st-31th 2019</span>
                    <p style="margin-left:5%;margin-bottom:5%;">
                    Hacktoberfest is a month-long digital event organized by Git-Hub, DigitalOcean and Dev.to, who also incentivize software developers from all over the world by gifting t-shirts and other swag. At NITR, the Hacktoberfest is facilitated by DSC- Developer Students Club and OpenCode- the open-source coding club of NIT Rourkela.  </p>

                </div>

                <div class="member">
                    <img class="images" height="260px"
                        src="static/images/photo.png"alt="">
                    <h3> Hacktoberfest Meetup </h3>
                    <span>October 19th 2019</span>
                    <p style="margin-left:5%;margin-bottom:5%;">
                        Hacktoberfest is a month-long celebration of open source software run by DigitalOcean in
                        partnership with GitHub and Twilio. Hacktoberfest is open to everyone in our global community!
                    </p>

                </div>
            </div>

        </div>
    </div>
</section>

{% endblock body %}