
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <link rel="stylesheet" href="css/tooplate-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
    <link rel="shortcut icon" type="image/png"
        href="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2Ffavicon.png?alt=media" />

    <title>Login |DSC NITR</title>

<style type="text/css">
    .asteriskField {
      display: none;
    }

    form .alert ul li {
      list-style: none;
    }

    form .alert ul {
      padding: 5px;
      margin: 5px;
    }
  </style>
</head>

<body>
<div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          
          <form method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Please Login here</h1>
        <label for="inputEmail" class="sr-only pb-2">Username</label>
        <input type="text" id="inputEmail" name="username" class="form-control pb-2" placeholder="Username" required
            autofocus>
        <label for="inputPassword" class="sr-only pb-2" style="position:relative;">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block my-3" type="submit">Login in</button>
        <p class="mt-5 mb-3 text-muted">&copy; DSC NITR 2020</p>
        
          </form>
        </div>
      </div>
    </div>
  </div>
    
</body>

</html>
