<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png"
        href="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2Ffavicon.png?alt=media" />

    <title>Project| DSC NITR</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="static/Project/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="static/Project/css/fullcalendar.min.css">
    <!-- https://fullcalendar.io/ -->
    <link rel="stylesheet" href="static/Project/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="static/Project/css/tooplate.css">
    <link rel="stylesheet" href=" static/css/tooplate-style.css">
   

</head>

<body id="reportsPage">
    <div class="" id="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- MENU -->
                    <nav class="navbar navbar-expand-sm navbar-light">
                        <div class="container">
                            <link rel="shortcut icon" type="image/png"
                                href="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2Ffavicon.png?alt=media" />

                            <a class="navbar-brand" href="/"><i></i> Developer Student Clubs </a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                                <span class="navbar-toggler-icon"></span>
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                        <a href="/events" class="nav-link"><span data-hover="EVENTS">EVENTS</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/project" class="nav-link"><span
                                                data-hover="PROJECTS">PROJECTS</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/team" class="nav-link"><span data-hover="THE TEAM">THE TEAM</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/idea" class="nav-link"><span data-hover="Submit YOUR IDEA">Submit YOUR
                                                IDEA</span></a>
                                    </li>
                                </ul>

                                
                            </div>
                        </div>
                    </nav>
                </div>
            </div>


            <div class="section-title text-center">
                
                <h1 style="margin-top: 2%;margin:5%;font-weight:100;"> Project Dashboard</h1>
            </div>

    <div class="row my-5">
                <div class="col-md-6 container-fluid  h-100">
                    <div class="Box" style="width: 25rem;margin:0%;padding:0%;">
                    <div class="row" style="width: 565px; background-color:rgb(200,208,209);border-radius:5px;">
                        <div class="col-4  my-4">
                            <img class="img-fluid p-2" src="static/images/dsc.png">
                        </div>
                        <div class="col-8 text-right ">
                           

                        <div class="box-body p-2">
                            
                            <h4 class="card-title">Developer Student Clubs
                            </h4>
                            <p class="card-text">NIT Rourkela
                            </p>
                            <p class="card-text">dsc.nitr@gmail.com
                            </p>
                            <p class="card-text">Joined GitHub 29 May 2019
                            </p>
                            <a href="https://github.com/developer-student-clubs-nitr" class="btn btn-primary">Github
                                Profile</a>
                        </div>
                         </div>
                    </div>
                    </div>
                </div>
            <div class="cold-md-6">

            <div class="container-fluid  h-100"style="">
            <div class="card h-100" style="width: 465px;margin-left:-25%;">

                        <div class="card-body ">
                <div class="row">
                    <div class="col-sm">
                    <p>5</p>
                    Followers

                    </div>
                    <div class="col-sm">
                        <p>6</p>
                    Stars
                    </div>
                    <div class="col-sm">
                        <p>23</p>
                    Forks
                    </div>
                    
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <p>0</p>
                    Following
                    </div>
                    <div class="col-sm">
                        <p>4</p>
                    Commits
                    </div>
                    <div class="col-sm">
                        <p>2</p>
                    Public Repository
                    </div>
                </div>
                </div>
                    </div>
            </div>
            </div>
        </div>


        <!-- row -->


        <div class="row mx-5" style="margin-top:5%;">
            <div class="col-lg-6" >
                <div class="bg-white tm-block h-100 ml-5" >
                    <h3 class="tm-block-title">Members</h3>
                    <ol class="tm-list-group">
                        <li class="tm-list-group-item" href="https://github.com/ankank30">Ankesh Anku</li>
                        <li class="tm-list-group-item" href="https://github.com/DesignrKnight">Abel Mathew</li>
                        <li class="tm-list-group-item" href="https://github.com/Thesmader">Smarak Das</li>
                        <li class="tm-list-group-item"href="https://github.com/Chinmay-KB">Chinmay Kabi</li>

                        <li class="tm-list-group-item"href="https://github.com/ashsek">Ashwin Sekhari</li>
                        
                    </ol>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="bg-white tm-block h-100">
                    <div class="row">
                        <div class="col-8">
                            <h3 class="tm-block-title d-inline-block"> Recent activities
 </h3>

                        </div>
                        <div class="col-4 text-right">
                            <a href="https://github.com/developer-student-clubs-nitr" class="tm-link-black"></a>
                        </div>
                    </div>
                    <ul >
                        <li style="margin-bottom:1%;">
                            <a >Nunc luctus suscipit elementum -16 hours </a>
                            
                        </li>
                        <li  style="margin-bottom:1%;">
                            <a >Sapiente distinctio tempore incidunt doloribus itaque cupiditate -22 hours</a>

                        </li>
                        <li  style="margin-bottom:1%;">
                            <a>Eveniet at delectus ipsam temporibus -4days </a>

                        </li>
                        <li  style="margin-bottom:1%;" >
                            <a>Eveniet at delectus ipsam temporibus -6days </a>

                        </li>
                        

                    </ul>
                </div>
            </div>
        </div>


        <div class="row mx-5" style="margin-top:5%;">
            
            <div class="col-lg-6">
                <div class="bg-white tm-block h-100">
                    <div class="row">
                        <div class="col-8">
                            <h3 class="tm-block-title d-inline-block"> Github Repository </h3>

                        </div>
                        <div class="col-4 text-right">
                            <a href="https://github.com/developer-student-clubs-nitr" class="tm-link-black">View All</a>
                        </div>
                    </div>
                    <ol class="tm-list-group tm-list-group-alternate-color tm-list-group-pad-big">
                        <li class="tm-list-group-item"  style="border-radius:5%;">
                            <a href="https://github.com/developer-student-clubs-nitr/project-raasan">Project-raasan</a>
                            
                        </li>
                        <li class="tm-list-group-item"  style="border-radius:5%;">
                            <a href="https://github.com/developer-student-clubs-nitr/project-banana">Project-banana</a>

                        </li>
                        <li class="tm-list-group-item"  style="border-radius:5%;">
                            <a href="https://github.com/developer-student-clubs-nitr/project-cherry">Project-cherry </a>

                        </li>
                        <li class="tm-list-group-item"  style="border-radius:5%;">
                            <a
                                href="https://github.com/developer-student-clubs-nitr/project-elaichi">Project-elaichi</a>

                        </li>
                        <li class="tm-list-group-item" style="border-radius:5%;">
                            <a
                                href="https://github.com/developer-student-clubs-nitr/project-avocado">Project-avocado</a>

                        </li>

                    </ol>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-white tm-block h-100">
                    <canvas id="pieChart" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
            </div>

        </div>

        <div class="row mx-5 my-2" style="padding:5% 2%;">
            <div class="col-lg-6">
                <div class="bg-white tm-block h-100">
                    <h3 class="tm-block-title">Performance</h3>
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-white tm-block h-100">
                    <h3 class="tm-block-title">Productive days</h3>
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
        
        <div class="card" style="width: 25rem; height:30rem; margin:5% 30%;">

                <div class="card-body ">
            
                <div class="bg-white tm-block h-15 w-10"style="margin-top:5%; ">
                    <h3 class="tm-block-title">Calendar</h3>
                    <div id="calendar"></div>
                    <div class="row mt-4">
                        <div class="col-12 text-right">
                            <a href="#" class="tm-link-black">View Schedules</a>
                        </div>
                    </div>

                </div>
          </div>
        </div>
        

  <section id="contact" <footer class="site-footer">

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          
        <div class="google-map w-100">
          <iframe src="https://www.google.com/maps?q=nit%20rourkela&t=&z=15&ie=UTF8&iwloc=&output=embed" width="400"
            height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>


        </div>
        <div class="col-md-4">
          <h2 class="footer-heading mb-4 ">Useful Links</h2>
          <a href="https://developer.android.com/">Android</a><br>
          <a href="https://cloud.google.com/">Cloud</a><br>
          <a href="https://developers.google.com/programs/dsc/">Developer Student Clubs</a><br>
          <a href="https://developers.google.com/programs/community/">Google Developers Program</a><br>
          <a href="https://developers.google.com/machine-learning/crash-course/ml-intro">Machine Learning</a><br>

        </div>

        <div class="col-md-4">
          <h2 class="footer-heading mb-4">Contact Us</h2>

          NATIONAL INSTITUTE OF TECHNOLOGY,ROURKELA, ODISHA 769008
          
          <br>
          
          Email: <a href="mailto://dsc.nitr@gmail.com">dsc.nitr@gmail.com</a>
        </div>
        

      </div>
    </div>
    <div class="rowtext-center" style="padding-top: 20px; text-align: center;">
      <div class="col-md-12">
        <hr>
        <div>
          <p>Copyright by DSC NIT Rourkela | All rights reserved | This template is made with Love <color="red"> </p>
        </div>
      </div>

    </div>
    </div>
    </footer>
    <script src="static/Project/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="static/Project/js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="static/Project/js/utils.js"></script>
    <script src="static/Project/js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="static/Project/js/fullcalendar.min.js"></script>
    <!-- https://fullcalendar.io/ -->
    <script src="static/Project/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="static/Project/js/tooplate-scripts.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
  
    <script>
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            updateChartOptions();
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart
            drawCalendar(); // Calendar

            $(window).resize(function () {
                updateChartOptions();
                updateLineChart();
                updateBarChart();
                reloadPage();
            });
        })
    </script>
</body>

</html>