{% extends 'base.html' %}
{% block title  %} team {% endblock title  %}
{% block body %}


<section id="team" class="team section-bg">
    <div class="container">

        <div class="section-title text-center">
            <img class="img-fluid" src="static/images/tag01.png">
            
            <h2 style="margin-top: 5%;"> Meet The Team </h2>
            <p>"The strength of the team is each individual member. The strength of each member is the team." – Phil
                Jackson</p>
        </div>

</section>
        <section class="ppl mx-3 text-center">
            <div class="row my-3">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FAM.jpg?alt=media"
                            alt="">
                        <h4> Abel Mathew </h4>
                        <span style="font-style: italic;
  display: block;
  font-size: 13px;">DSC Lead</span>
                        <p>
                            Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat
                            qui
                            aut aut aut
                        </p>
                        <div class="social">
                            <a href="https://github.com/DesignrKnight"><i class="icofont-github"></i></a>
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href="https://facebook.com/designrknight"><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/DesignrKnight"><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img height="260px"
                            src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FAA.jpeg?alt=media"
                            alt="">
                        <h4> Ankesh Anku </h4>
                        <span>App Developer</span>
                        <p>
                            Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum
                            temporibus
                        </p>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img height="260px"
                            src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FAS.jpeg?alt=media">
                        <h4> Ashwin Sekhari </h4>
                        <span> Blockchain </span>
                        <p>
                            Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro
                            des
                            clara
                        </p>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>

                        </div>
                    </div>
                </div>

            </div>

            <div class="row my-3">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img height="260px"
                            src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FChinmayKabi.jpeg?alt=media"
                            alt="">
                        <h4> Chinmay Kabi </h4>
                        <span>App Development</span>
                        <p>
                            Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat
                            qui
                            aut aut aut
                        </p>
                        <div class="social">
                            <a href="http://github.com/Chinmay-KB"><i class="icofont-github"></i></a>
                            <a href="http://twitter.com/ChinuKabi"><i class="icofont-twitter"></i></a>
                            <a href="http://fb.com/kablitzkreig"><i class="icofont-facebook"></i></a>
                            <a href="http://instagram.com/chinu.kb"><i class="icofont-instagram"></i></a>
                            <a href="http://linkedin.com/in/chinmaykabi"><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img height="260px"
                            src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FHarish.jpg?alt=media"
                            alt="">
                        <h4> Harish Teens </h4>
                        <span>Web Development</span>
                        <p>
                            Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum
                            temporibus
                        </p>
                        <div class="social">
                            <a href="https://github.com/HarishTeens"><i class="icofont-github"></i></a>

                            <a href="https://www.instagram.com/harish_teens/"><i class="icofont-twitter"></i></a>
                            <a href="https://facebook.com/blazing.teens.376"><i class="icofont-facebook"></i></a>
                            <a href="https://www.instagram.com/harish_teens/"><i class="icofont-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/harish-r-76272221"><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img height="260px"
                            src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FRitom Sonowal.jpeg?alt=media">
                        <h4> Ritom Sonowal </h4>
                        <span> Web Development </span>
                        <p>
                            Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro
                            des
                            clara
                        </p>
                        <div class="social">
                            <a href="http://github.com/ritomsonowal"><i class="icofont-github"></i></a>

                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href="http://fb.com/ritom.sonowal.7"><i class="icofont-facebook"></i></a>
                            <a href="http://instagram.com/ritom__"><i class="icofont-instagram"></i></a>
                            <a href="http://in.linkedin.com/in/ritom-sonowal-008250176"><i
                                    class="icofont-linkedin"></i></a>

                        </div>
                    </div>
                </div>

            </div>



            <div class="row my-3">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img height="310px" width="300px"
                            src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2Frkshaw.jpeg?alt=media"
                            alt="Image" >
                        <h4> Roshan Kumar Shaw</h4>
                        <span>Web Development</span>
                        <p>
                            Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat
                            qui
                            aut aut aut
                        </p>
                        <div class="social">
                            <a href="http://github.com/roshankshaw"><i class="icofont-github"></i></a>
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href="http://fb.com/roshan.kumarshaw"><i class="icofont-facebook"></i></a>
                            <a href="http://instagram.com/roshan.k.shaw"><i class="icofont-instagram"></i></a>
                            <a href="http://linkedin.com/in/roshankshaw"><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img height="310px" width="300px"
                            src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FReuben%20Abraham.jpeg?alt=media"
                            alt="Image">
                        <h4> Reuben Abraham </h4>
                        <span>Design</span>
                        <p>
                            Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum
                            temporibus
                        </p>
                        <div class="social">
                            <a href=""><i class="icofont-github"></i></a>
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href="https://www.facebook.com/knowreuben"><i class="icofont-facebook"></i></a>
                            <a href="http://instagram.com/reuben.abraham"><i class="icofont-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/reuben-abraham-6b5a7a161"><i
                                    class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img height="260px"
                            src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FSainandanMohanty.JPG?alt=media"
                            alt="Image">
                        <h4> Sainandan Mohanty </h4>
                        <span> Web Development </span>
                        <p>
                            Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro
                            des
                            clara
                        </p>
                        <div class="social">
                            <a href="https://github.com/SainandanMohanty"><i class="icofont-github"></i></a>
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href="https://www.facebook.com/sainandan.mohanty"><i class="icofont-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/sainandan-mohanty"><i
                                    class="icofont-instagram"></i></a>
                            <a href="https://www.instagram.com/the.high.sain"><i class="icofont-linkedin"></i></a>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row my-3">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img height="310px" width="300px"
                            src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FShaswat Lenka.JPG?alt=media"
                            alt="Image" >
                        <h4> Shaswat Lenka </h4>
                        <span>Web Development</span>
                        <p>
                            Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat
                            qui
                            aut aut aut
                        </p>
                        <div class="social">
                            <a href="www.github.com/ShaswatLenka"><i class="icofont-github"></i></a>
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href="https://www.facebook.com/shaswatlenka10"><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href="www.linkedin.com/in/shaswat-lenka"><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img height="310px" width="300px"
                            src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FSmarak_Das.JPG?alt=media"
                            alt="Image">
                        <h4> Smarak Das </h4>
                        <span>App Development</span>
                        <p>
                            Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum
                            temporibus
                        </p>
                        <div class="social">
                            <a href="https://github.com/Thesmader"><i class="icofont-github"></i></a>
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href="https://www.facebook.com/smarak.das.94"><i class="icofont-facebook"></i></a>
                            <a href="https://www.instagram.com/thesmader"><i class="icofont-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/thesmader"><i class="icofont-linkedin"></i></a>

                        </div>
                    </div>
                </div>

            </div>
    </div>
    </div>
    </section>
    
    {% endblock body %}