{% extends 'base.html' %}
{% block title  %} team {% endblock title  %}
{% block body %}


<section id="team" class="team section-bg">
    <div class="container">

        <div class="section-title text-center">

            <h1 style="margin-top: 5%;">Team</h1>
            <p>"The strength of the team is each individual member. The strength of each member is the team." – Phil
                Jackson</p>
        </div>

        <div class="row my-3">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FAM.jpg?alt=media"
                        alt="">
                    <h4> Abel Mathew </h4>
                    <span style="font-style: italic;
  display: block;
  font-size: 13px;">DSC Lead</span>
                    <p>
                        Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui
                        aut aut aut
                    </p>
                    <div class="social">
                        <a href="https://github.com/DesignrKnight"><i class="icofont-github"></i></a>
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href="https://facebook.com/designrknight"><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/DesignrKnight"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img height="260px"
                        src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FAA.jpeg?alt=media"
                        alt="">
                    <h4> Ankesh Anku </h4>
                    <span>App Developer</span>
                    <p>
                        Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum
                        temporibus
                    </p>
                    <div class="social">
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img
                        src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FAS.jpeg?alt=media">
                    <h4> Ashwin Sekhari </h4>
                    <span> Blockchain </span>
                    <p>
                        Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des
                        clara
                    </p>
                    <div class="social">
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>

                    </div>
                </div>
            </div>

        </div>

        <div class="row my-3">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FAM.jpg?alt=media"
                        alt="">
                    <h4> Abel Mathew </h4>
                    <span>DSC Lead</span>
                    <p>
                        Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui
                        aut aut aut
                    </p>
                    <div class="social">
                        <a href="https://github.com/DesignrKnight"><i class="icofont-github"></i></a>
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href="https://facebook.com/designrknight"><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/DesignrKnight"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img height="260px"
                        src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FAA.jpeg?alt=media"
                        alt="">
                    <h4> Ankesh Anku </h4>
                    <span>App Developer</span>
                    <p>
                        Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum
                        temporibus
                    </p>
                    <div class="social">
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img
                        src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FAS.jpeg?alt=media">
                    <h4> Ashwin Sekhari </h4>
                    <span> Blockchain </span>
                    <p>
                        Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des
                        clara
                    </p>
                    <div class="social">
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>

                    </div>
                </div>
            </div>

        </div>



        <div class="row my-3">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FAM.jpg?alt=media"
                        alt="">
                    <h4> Abel Mathew </h4>
                    <span>DSC Lead</span>
                    <p>
                        Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui
                        aut aut aut
                    </p>
                    <div class="social">
                        <a href="https://github.com/DesignrKnight"><i class="icofont-github"></i></a>
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href="https://facebook.com/designrknight"><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/DesignrKnight"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img height="260px"
                        src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FAA.jpeg?alt=media"
                        alt="">
                    <h4> Ankesh Anku </h4>
                    <span>App Developer</span>
                    <p>
                        Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum
                        temporibus
                    </p>
                    <div class="social">
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img
                        src="https://firebasestorage.googleapis.com/v0/b/project-banana-4822.appspot.com/o/images%2FAS.jpeg?alt=media">
                    <h4> Ashwin Sekhari </h4>
                    <span> Blockchain </span>
                    <p>
                        Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des
                        clara
                    </p>
                    <div class="social">
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>

                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>
    </div>
</section>
{% endblock body %}